<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency COnverter</title>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>

  <h1 class="text-center mb-4">Currency Converter</h1>

  <form action="/convert" class="pb-4">

    <div class="mb-3 row">
      <label class="col-4 col-form-label text-end form-text">Converting from:</label>
      <div class="col-4">
        <input name="convert-from" placeholder="Enter a valid 3 digit currency code"
          class="form-control">
      </div>
    </div>


    <div class="mb-3 row">
      <label class="col-4 col-form-label text-end form-text">Converting from:</label>
      <div class="col-4">
        <input name="convert-to" placeholder="Enter a valid 3 digit currency code"
          class="form-control">
      </div>
    </div>

    <div class="mb-3 row">
      <label class="col-4 col-form-label text-end form-text">Amount:</label>
      <div class="col-4">
        <input name="amount" placeholder="Enter an amount to convert" class="form-control">
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary btn-lg">
        Convert!
      </button>
    </div>
  </form>
  <script src="/static/script.js"></script>
</body>

</html>